.template-customizer-misc
{
    display:none
}
#toast-container>.toast-success {
    background-color: #15964f;
}
#toast-container>.toast-error {
    background-color: #f00;
}
.display_email{
  display: none;
}
/* map */

#map {
    height: 100%;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  #target {
    width: 345px;
  }
.maps{
    height: 300px;
}
.mypackage_table .dt-buttons{
  display: none;
}

#progress_bar,
.progress_bar {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#progress_bar .bar,
.progress_bar .bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 25px;
    border-radius: 3px;
    text-align: center;
}

#progress_bar .percent,
.progress_bar .percent {
    position: relative;
}
.custom_page{
    padding: 10px;
    margin-top: 20px !important;
}

